.btn{
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    border: 1px solid black;
    display: inline-block;

    &:not(:last-child){
        margin-right: .5rem;
    }
}